h1,h3 {
  padding-top: 3%;
  text-align: center;
  color: snow;
  font-weight: bolder;
  font-size: 40px;
  font-family: "Adobe Devanagari";
}

.login-form {
  text-align: center;
  padding-top: 5%;
  font-size: 20px;
  color: snow;
}

label {
  padding-right: 1%;
}

input {
  color: black;
}

#float1 {
  float: left;
  display: block;
}

#float2 {
  float: right;
  display: inline-block;
}

