<div class="container">
  <h1>Welcome to <strong> AcaR</strong> !</h1>
  <hr>
</div>
<div class="container">
  <h3>Already have an account ? Login !</h3>

  <img src="assets/1.png" id="float1" height="200" width="200">
  <img src="assets/2.png" id="float2" height="200" width="200">
  <form class="login-form">

    <label for="user">Username :</label>
    <input type="text">

    <br><br><br>

    <label for="pass">Password :</label>
    <input type="password">

    <br><br>

      <button type="submit" class="btn btn-success"> Log In </button>
  </form>
</div>
